.divouter{
  width: 1170px;
  margin:auto
}
.divouter ul{
  list-style: none;
  gap: 10px;
  display: flex;
  margin: 0;
  padding: 0;
}
.divouter ul button{
background-color:cadetblue; 
border: none;
cursor: pointer;
color:  aquamarine;
padding: 15px 20px;
margin-right: 18px;
font-weight: 600;
}
.activebtn{
  background-color: red !important;
  color: white !important;
}